body{
    /* background-image: linear-gradient(to left top, #FC5C7D, #6A82FB); */
    background-color:#333333 !important;
    background-attachment: fixed;
}
a{
    text-decoration: none;
    color:#354548;
}
a:hover{
    text-decoration: none;
    color:#000;
}
.page{
    position:absolute;
    top:100px;
    left:0;
    right:0;
}
.fade-appear, .fade-enter{
    opacity:0;
    z-index: 1;
}
.fade-appear-active, .fade-enter, .fade-enter-active{
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}
.fade-exit{
    opacity: 1;
}
.fade-exit.fade-exit-active{
    opacity: 0;
    transition: opacity 150ms linear;
}
.container{
    padding-top:50px;
}
.row{
    height: 90vh;
}
.sidebar{
    background-color:white;
    height:100%;
    border-radius: 20px;
    padding: 25px 15px;
    text-align: center;
}
.app_main-content{
    background-color: white;
    border-radius: 20px;
    padding: 25px 15px;
}
.sidebar_avatar{
    height: 260px;
    width: 201px;
    object-fit: contain;
    border-radius: 50%;
}
.sidebar_icon{
    height: 25px;
    width: 25px;
}
.sidebar_name{
    font-size: 1.7rem;
    font-weight: bolder;
    /* margin: 20px 0; */
    margin-top:10px;
    background-image: linear-gradient(45deg, #FC5C7D, #6A82FB);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.sidebar_name>span{
    color: #FC5C7D;
}
.sidebar_item{
    margin-bottom: 6px;
    padding-top: 6px;
    height: 40px;
    font-size: 1.05rem;
    border-radius:30px;
}
.sidebar_typical{
    font-weight:bold;
    font-size:1rem;
    background-image: linear-gradient(45deg, #FC5C7D, #6A82FB);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    margin-bottom:10px;
}
.sidebar_social-icons{
    border-radius:50%;
}
.sidebar_contact{
    padding: 2px 0;
    margin:20px -15px;
}
.sidebar_phone, .sidebar_location {
    margin-top:10px;
    padding-bottom: 10px;
}
.sidebar_email{
    background-image: linear-gradient(to left top, #FC5C7D, #6A82FB);
    border-radius:30px;
    color:#fff;
    margin: 15px 25px 0px;
    cursor:pointer;
    transition:all 3s linear;
}
.sidebar_email:hover{
    transform:scale(1.1);
}
.sidebar_resume:hover{
    background-color:#f1f1f2;
}
@media(max-width:991px){
    .app_main-content{
        margin:30px 0;
    }
}
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}
/* Navbar */
.navbar_items{
    display: flex;
}
.navbar_active{
    font-size:2rem;
    font-weight: 700;
    color:#354358;
    border-bottom: 4px solid #FC5C7D;
}
.navbar_item{
    margin-right: 20px;
    text-decoration: none;
    color:#354358;
    font-size:1.3rem;
    cursor:pointer;
}
.navbar_item:hover{
    background-image: linear-gradient(45deg, #FC5C7D, #6A82FB);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
/* About Me */
.about_intro{
    padding:20px;
    font-size: 1rem;
}
.aboutme_avatar{
    height: 144px;
    width: 120px;
    object-fit: contain;
    border-radius: 30%;
}
.header{
    font-size: 1.25rem;
    font-weight: bold;
}
.header-desc{
    margin-top: 20px;
}
/* Skills */
.skills_intro{
    padding:20px;
}
.header{
    margin-bottom: 12px;
    font-weight: bold;
    font-size: large;
    background-image: linear-gradient(45deg, #FC5C7D, #6A82FB);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.content{
    padding:15px;
}
/* Projects */
.project{
    text-align: center;
}
.project-header{
    margin-top: 12px;
    font-weight: bold;
    font-size: large;
    background-image: linear-gradient(#FC5C7D, #6A82FB);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}